/* main style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */
:root {
    --primary-color: #181064;
    --secondary-color: #887694;
}

/* put body style here */

/* header and nav styles */
header {
    padding: 20px 35px;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    padding: 20px;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border: 5px solid black;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

/* put text styles here */

/* hero style */
.hero {
    height: 300px;
    width: 100%;
    margin: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
}

.hero h2 {
    display: inline-flex;
    font-size: 24px;
    float: right;
    margin-top: 220px;
    margin-right: 60px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.title {
    border-right: 5px solid var(--primary-color);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 48px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.work h2 {
    color: var(--secondary);
}

.work-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.work-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}

.chat-app {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../images/juhst_chat.PNG");
}

.password-generator{
    background-image: url("../images/robo-glad.jfif");
    background-position: 50% 15%;
}

.workday-schedule {
    background-image: url("../images/sched.png");
    background-position: 60% 50%;
}

.film-feast {
    background-image: url("../images/movie-theater-gf01c482e1_1920.jpg");
    background-position: 50% 15%;
}

.project-management {
    background-image: url("../images/overseer.jpg");
    background-position: 50% 15%;
}

.content-wrap {
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    width: 60%;
}
